@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.secret-docs {
  position: relative;
  background-color: #fcfcfc;
  padding: 40px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  line-height: 1.8;

  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-width: 0 40px 40px 0;
    border-style: solid;
    border-color: #e6e6e6 $color-bg;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.1);
  }

  &__stamp {
    position: absolute;
    top: 20px;
    right: 60px;
    color: $color-danger;
    border: 4px solid $color-danger;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: $font-heading;
    font-size: 1.5rem;
    transform: rotate(-15deg);
    opacity: 0.7;
    mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
    pointer-events: none;
  }
}

.redacted {
  background-color: #000;
  color: #000;
  padding: 0 5px;
  cursor: help;

  &:hover {
    background-color: transparent;
    color: $color-danger;
    text-decoration: line-through;
  }
}

.crew-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.crew-card {
  @include box-look;
  text-align: center;
  padding: 15px;

  &__photo-wrapper {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 15px;
    border-bottom: 3px solid $color-secondary;

    &::after {
      content: '';
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 110%;
      height: 30px;
      background-color: #000;
      z-index: 2;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(1.2);

    &--boss {
      object-position: 50% -10%;
    }
  }

  &__info {
    h3 {
      font-family: $font-heading;
      color: $color-primary;
      background: $color-secondary;
      display: inline-block;
      padding: 5px 10px;
      margin-bottom: 5px;
    }
    p {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}