@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.product-card {
  @include box-look;
  display: flex;
  flex-direction: column; // Układa elementy pionowo
  height: 100%;           // Karta rozciąga się na pełną wysokość rzędu
  padding: 15px;
  position: relative;

  &__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: $color-accent;
    border: 2px solid $color-secondary;
    padding: 5px 10px;
    font-family: $font-heading;
    font-size: 0.9rem;
    transform: rotate(3deg);
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: $border-width solid $color-secondary;
    margin-bottom: 15px;
    filter: sepia(0.3) contrast(1.1);
  }

  &__title {
    font-family: $font-heading;
    font-size: 1.6rem;
    margin: 0 0 10px;
    line-height: 1.2;

    min-height: 3.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__desc {
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 20px;

    flex-grow: 1;
  }

  &__price {
    font-weight: bold;
    font-size: 1.3rem;
    background: $color-secondary;
    color: $color-primary;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;

    margin-top: auto;
  }
}