@use '../abstract/variables' as *;

body {
  font-family: $font-body;
  background-color: $color-bg;
  color: $color-secondary;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: $font-heading;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}