@use 'variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-look {
  background-color: $color-white;
  border: $border-width solid $color-secondary;
  box-shadow: $shadow-hard;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 0px $color-secondary;
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) { @content; }
  }
}